/*------------------------------------------------------------------------------
Home page CSS
------------------------------------------------------------------------------*/
body
{
    background-color: #e0d4bc;
    margin: 0;
}

#logoContainer
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 10px black;
}

#logo
{
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    margin-left: 25px;
    font-size: 25px;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 5px;
}
#searchBar
{
    margin: auto;
}

#searchInput
{
    padding: 10px 10px;
    font-size: 20px;
}

#loginBar
{
    display: flex;
    margin: auto;
    margin-right: 10%;
}

#joinButton
{
    border-right: 1px solid black;
    padding-right: 5px;
}

#loginButton
{
    padding-left: 5px;
}

#bodyContainer
{
    height: 100%;
    width: 100%;
    display: flex;
}

#bookContainer
{
    z-index: -1;
    position:fixed;
    padding-top: 80px;
    width: 200px;
    height: 100%;
    background-color: #fff7e6;
}

#myBookContainer
{
    box-shadow: 0px 0px 3px grey;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: 5%;
}

ul
{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

#bookRecipeContainer
{
    font-size: 20px;
    #border: 1px solid black;
    box-shadow: 0px 0px 3px grey;
    background-color: white;
    border-radius: 5px;
    margin: 5%;
    text-align: center;
}

#recipeContainer
{
    z-index: -1;
    position: fixed;
    //border: 3px solid red;
    #width: 100%;
    top: 75px;
    bottom: 0;
    right: 0;
    left: 200px;
}

.cardRow
{
    #padding: 2%;
    display: flex;
}

.recipeCard
{
    margin: 2%;
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid grey;
}

.foodPhoto
{
    width: 100%;
    height: 250px;
    background-color: grey;
    #border: 1px solid grey;
}

.cardMenu
{
    font-size: 50px;
    padding: 0px;
    padding-right: 3px;
    text-align: right;
    line-height: 25%;
}
.foodName
{
    text-align: center;
    margin-top: 3px;
    font-size: 25px;
}

.foodRating
{
    text-align: center;
    margin-top: 3px;
    font-size: 25px;
}

.foodDescription
{
    padding: 5px;
}

.foodAuthor
{
    padding: 5px;
}


