<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/css/mainStyle.css">
  <link rel="stylesheet" href="/css/login_register.css">
  <link rel="stylesheet" href="/css/build_recipe.css">
  <link rel="sytlesheet" href="/css/ethicalAltStyle.css">
  
  <title>Ethical Eating - The Coasters</title>
  
  <link rel="icon" type="image/png" href="/img/balance-scale.png">
  
</head>
<body>

  {{{body}}}
	
	<script src="/js/login_register.js"></script>
</body>
</html>
