<div id="logoContainer">
    <div id="logo"><a href="/">Ethical Eats</a></div>
    <div id="searchBar">
        <input id="searchInput" type="text" placeholder="Search..">
    </div>
    <div id="loginBar">
        <a href="/login_register">Login | Register</a>
    </div>
  </div>

<div id="recipeContainer">
    <section class="recipeTitle">
        <div class="recipeTitleHeader">Tasty Recipe</div>
        <div class="foodPic"></div>
    </section>

    <section class="recipeIngredient">
        <div class="ingredientHeader">Recipe Ingredients</div>
        <ul class="ingredientSection">
            <li class="ingredientItem">ingredient</li>
            <div class="popup" onclick="popUp()">Click!</div> 
            <div class="hide">
                <ul class="hiddenList">
                    <li>alternative 1</li>
                    <li>alternative 2</li>
                    <li>alternative 3</li>
                </ul>
            </div>

            <li class="ingredientItem">ingredient</li>
            <div class="popup" onclick="popUp()">Click!</div> 
            <div class="hide">
                <ul class="hiddenList">
                    <li>alternative 1</li>
                    <li>alternative 2</li>
                    <li>alternative 3</li>
                </ul>
            </div>

            <li class="ingredientItem">ingredient</li>
            <div class="popup" onclick="popUp()">Click!</div> 
            <div class="hide">
                <ul class="hiddenList">
                    <li>alternative 1</li>
                    <li>alternative 2</li>
                    <li>alternative 3</li>
                </ul>
            </div>

            <li class="ingredientItem">ingredient</li>
            <div class="popup" onclick="popUp()">Click!</div> 
            <div class="hide">
                <ul class="hiddenList">
                    <li>alternative 1</li>
                    <li>alternative 2</li>
                    <li>alternative 3</li>
                </ul>
            </div>

            <li class="ingredientItem">ingredient</li>
            <div class="popup" onclick="popUp()">Click!</div> 
            <div class="hide">
                <ul class="hiddenList">
                    <li>alternative 1</li>
                    <li>alternative 2</li>
                    <li>alternative 3</li>
                </ul>
            </div>
        </ul>
    </section>

    <section class="recipeInstruction">
        <div class="instructionHeader">Instructions</div>
        <ol class="recipeInstructionOl">
            <li class="instruction">instruction 1</li>
            <li class="instruction">instruction 2</li>
            <li class="instruction">instruction 3</li>
            <li class="instruction">instruction 4</li>
            <li class="instruction">instruction 5</li>
            <li class="instruction">instruction 6</li>
        </ol>
    </section>
</div>